<div>
  見つかる！<br>
  あなたにぴったりの<br>
  コーヒーレシピ
</div>
<div>
  作って試す。新しいコーヒーの買い方
</div>

<h2>Brendshopとは</h2>
<ol>
  <li><h3><i class="fas fa-book-open"></i>自分だけのレシピを作ろう</h3></li>
    <p>10種類の豆を自由にブレンド<br>
    組み合せは約360万通り！</p>
  <li><h3><i class="fas fa-store"></i>作ったレシピはお店でブレンド</h3></li>
    <p>QRコードで簡単読み込み<br>
    いつもの買い物中に買える</p>
  <li><h3><i class="fas fa-share-square"></i>レシピをシェアしてつながる</h3></li>
    <p>お気に入りの味をみんなに紹介<br>
    気になるあの人の好みも♪</p>
</ol>

<div>
  <h2>おまけ</h2>
  <ul>
    <li>購入・シェアして育つ"My Coffeeshop"</li>
    <li>毎週届く、役立つコラム</li>
  </ul>
</div>