<%= current_user.email %>さんのマイページ

<div>
  <div>
    <div>
      <p>QRコードの設置</p>
      <!--<div class="qr-code">< raw @qr.as_html %></div>-->
    </div>
    
    <div>
      味覚マトリクスの設置
    </div>
  </div>  
  <div>
    <div>
      配合詳細
    </div>
  </div>
  <div>
    <div>
      前回のレシピ
    </div>
    <div>
      お気に入り①
    </div>
    <div>
      お気に入り②
    </div>
  </div>
</div>

<div>
  <%= link_to "レシピをつくる", "/recipes", method: :get %> 
</div>

<div>
  My Coffeeshop
</div>
<div>
  <div>
    広告スペース
  </div>
</div>